*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(2, 2, 74);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    opacity: 80%; 
    cursor: pointer;
    background-color: black;
}

img{
    height: 165px;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#userScore, #compScore{
font-size: 4rem;
}

.msgContainer{
    margin-top: 5rem;
}
#msg{
    background-color: rgb(7, 7, 78);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}